
/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%; /* Base 16 -> Base 10 | 1 rem = 10px */
}

body{
  font-size: 1.5rem;
  background-color: var(--grey-color);
}

:root{
  --blue-color: #033859;
  --orange: #D94B1D;
  --grey-color: #4A4A4A;
}

.particles-js-canvas-el{
  background-color: var(--blue-color);
}

ul, ol{
  list-style: none;
}